<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <img src="assets/login_top.png" width="100%" alt="">

  <div>
    <ion-label style="margin-left: 20px;    font-family: 'Montserrat', sans-serif;
    font-size: 30px;" color="primary">Login</ion-label>

    <div style="text-align: center; margin: 20px;">
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input></ion-input>
      </ion-item>


      <ion-item style="margin-top: 20px;">
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password"> </ion-input>
        <!-- <ion-checkbox slot="end"  [(ngModel)]="passType" 
         (click)="changePasswordType()" id="checkbox" style="border-style: none;" ></ion-checkbox> -->

      </ion-item>
      <ion-button  expand="block" style="margin-top: 20px;height: 50px; border-radius: 10px!important;">Login</ion-button>
    </div>
    <!-- <input type = "checkbox" (click)="changePasswordType()">Show Password -->

    <!-- <ion-item>
      <ion-label for="checkbox" *ngIf="!passwordCheckbox">show password</ion-label>
      <ion-label for="checkbox" *ngIf="passwordCheckbox">hide password</ion-label>
      <ion-checkbox class="marginTop" id="checkbox" style="border-style: none;" 
      [(ngModel)]="passwordCheckbox" (click)="showPassword(input)"></ion-checkbox>
    </ion-item> 
    <ion-item>
      <ion-checkbox slot="start" checked></ion-checkbox>
      <ion-label>Checkbox</ion-label>
    </ion-item>-->
  </div>

</ion-content>