<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <img src="assets/login_top.png" width="100%" alt="">

  <div>
    <ion-label class="login-label" color="primary">Login</ion-label>

    <div style="text-align: center; margin: 20px;">
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input></ion-input>
      </ion-item>


      <ion-item style="margin-top: 20px;">
        <div>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="{{type}}" name="password" [(ngModel)]="password"></ion-input>
        </div>
        <div class="eye">
          <ion-icon *ngIf="!showPass" name="eye" style="font-size:25px;" (click)="showPassword()"></ion-icon>
          <ion-icon *ngIf="showPass" name="eye-off" style="font-size:25px;" (click)="showPassword()"></ion-icon>
        </div>

      </ion-item>
      <ion-button expand="block" (click)="goToHomePage()"
        class="login-button">Login</ion-button>
    </div>

  </div>

</ion-content>