.passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    top: 2px !important;
    margin: 0 auto !important;
 }

 .eye{
    width: 100%;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 15px;
 }

 .login-button{
    margin-top: 20px;height: 50px;
     border-radius: 10px!important;
 }

 .login-label{
    margin-left: 20px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
 }