<ion-header [translucent]="true">
  <ion-toolbar>
    <div>
      <div style="width: 80%;float: left;">
        <ion-title>
          <div style="font-size: 15px;padding-top: 8px;">

            VenkateshPrasad Nayak The Lejhand
            <ion-datetime disabled style="font-size:8px; margin-left: -15px;" displayFormat=" DD MMM YYYY, h:mm A"
            [(ngModel)]="myDate">
          </ion-datetime>
          </div>
       
        </ion-title>

      </div>
      <div style="width: 20%; float: right;margin-top: 10px;">
        <img src="assets/upsync.png" alt="">
        <img src="assets/downsync.png" alt="">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--  <ion-header >
    <ion-toolbar>
      <ion-title size="large">MDM</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <div>
        <div style="width: 80%;float: left;">
          <ion-title>
            Biswajit Senapati
          </ion-title>  
        </div>
      </div>
    </ion-toolbar>
  </ion-header> 
-->
  <div>


    <!-- <ion-datetime disabled style="font-size:10px;margin-left: 5px;" displayFormat=" DD MMM YYYY, h:mm A"
      [(ngModel)]="myDate">
    </ion-datetime> -->


    <!-- <ion-list> -->
    <div style="width: 100%;display: inline-flex; ">
      <div style="width: 40%;padding: 10px 5px 20px 10px;">
        <ion-item>
          <!-- <ion-label>Class</ion-label> -->
          <ion-select value="fq" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="fq">Class</ion-select-option>
            <ion-select-option value="f">Class One</ion-select-option>
            <ion-select-option value="m">Class Two</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div style="width: 40%;padding: 10px 10px 20px 5px;">
        <ion-item>
          <!-- <ion-label>Section</ion-label> -->
          <ion-select value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="brown">Section</ion-select-option>
            <ion-select-option value="blonde">Section A</ion-select-option>
            <ion-select-option value="black">Section B</ion-select-option>
            <ion-select-option value="red">Section C</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div style="width: 20%;padding: 17px 10px 20px 15px;">
        <img src="assets/camera.png" alt="" (click)="openCamera()">
      </div>
    </div>
    <!-- </ion-list> -->

    <!-- List of Input Items -->
    <!-- <ion-list>
      <ion-item>
        <ion-label>Input</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Toggle</ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Radio</ion-label>
        <ion-radio slot="end"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Checkbox</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
    </ion-list> -->

    <div style="margin-bottom: 60px;">

      <ion-list>
        <ion-card style="margin-bottom: 10px;">
          <ion-item *ngFor="let item of items">

            <ion-label>
              <h3>{{item.name}}</h3>
              <p>{{item.roll}}</p>
            </ion-label>
            <ion-toggle checked color="primary"></ion-toggle>

          </ion-item>
        </ion-card>
      </ion-list>
    </div>

  </div>
  <ion-button expand="full" style="position: fixed; bottom: -5px; height: 50px; width: 100%; align-content: center;" color="primary">Save</ion-button>

  <!-- save div -->
  <!-- <div style="position: fixed; bottom: 0;height: 60px;background-color: #3880ff;width: 100%;"> -->


  <!-- <ion-fab-button style="float: right;position: absolute;right: 10px;bottom: 10vh; " side="bottom | bottom">Add
    </ion-fab-button> -->
  <!-- </div> -->

</ion-content>